.barra{
    position: absolute;
    display: flex;
    text-decoration: none;
    height: 35px;
    flex-direction: row-reverse;
    left: 19vw;
    margin-bottom: 5px;
    
    font-family: 'Oswald', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    
  }

  .buttonSelect{
    
    font-weight: bold;
    color: rgb(33, 30, 64);
    font-size: 14px;
    height: 100%;
    border: 0ex;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    margin-left: 10px;

    font-family: 'Oswald', sans-serif;
    font-family: 'Rajdhani', sans-serif;

    color: white;
    text-shadow: 0.0em 0.0em 0.1em rgba(255, 253, 253, 0.477);
    background-color: rgba(31,27,54);

    margin-top: 3px;


    padding: 0px 10px;
    
  }