.formulario {
    display: flex; /*  El elemento padre se convierte en un contenedor flexible, lo que significa que sus elementos hijos se comportarán como flex items, Flex Direction --> row, column, row-reverse, column-reverse,  */
    flex-direction: column;

    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(60,52,132,0.8);
    justify-content: center; 
    cursor: pointer;  
    border-radius: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px; 

    max-width: 800px; /* Ajusta el ancho del formulario */
    padding: 40px;

    padding-left: -9px;

    margin-top: 40px;
  }
  
  
  .containerFormulario input {
    margin-bottom: 15px;
    padding: 10px;
    width: 95%;
    cursor: pointer;  
    border-radius: 5px;
  }

  .containerFormulario select {
    margin-bottom: 15px;
    padding: 10px;
    width: 102%;
    border-radius: 5px;
  }

  .containerFormulario span {
    color: red;
    margin-top: 5px;
  }
  .containerFormulario label {
   color: aliceblue;
  /* margin-bottom: 5px;
  right: 5px; */
  }
  /* volver! */
  .containerFormulario button {
    margin-bottom: 10px;
    padding: 10px;
    width: 35%;
    align-self: center; 
    width: fit-content;
    cursor: pointer;  
    border-radius: 5px;
  }




/* volver! */
  .ButtonForm {


  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: #414040;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  /* ----- */
  position: absolute;
  top: 105px;
  
  left: 130px;
  background-color: #ccc;
  text-decoration: none;
  border-radius: 5px;
  }
/* ................................ */
  .formColumns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado entre las columnas */
    padding-left: 35px;
  }

  .formColumn {
    
    width: 40%; 
 
  }

  .submitButton {
    margin-top: 14px;
    align-self: flex-end;
   
  }